

<!-- Navigation-->
<nav ng-init="dashCtrl.getUserDetail()"  class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <a class="navbar-brand" href="index.html">ERUD8</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class=" collapse navbar-collapse" id="navbarResponsive">
    <ul class=" navbar-nav navbar-sidenav" id="exampleAccordion">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <a class="nav-link" ui-sref="dashboard.index">
          <i class="fa fa-fw fa-dashboard"></i>
          <span class=" nav-link-text">Dashboard</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Test Operations">
        <a ng-if="role != 'Student'" class="nav-link nav-link-collapse collapsed" data-toggle="collapse" data-target="#collapseExamplePages" data-parent="#exampleAccordion">
          <i class="fa fa-fw fa-file"></i>
          <span class="nav-link-text">Test Operations</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseExamplePages">
          <li>
            <a class="nav-link" ui-sref="dashboard.createtest">
              <i class="fa fa-fw fa-plus"></i>
              <span class="nav-link-text">Make New Test</span>
            </a>
          </li>
          <li>
            <a class="nav-link" ui-sref="dashboard.testquestions">
              <i class="fa fa-fw fa-eye"></i>
              <span class="nav-link-text">Review Tests</span>
            </a>
          </li>
        </ul>
      </li>
      <li ng-if="role == 'Administrator'" class="nav-item" data-toggle="tooltip" data-placement="right" title="Admin Operations">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" data-target="#collapseAdminPages" data-parent="#exampleAccordion">
          <i class="fa fa-fw fa-user"></i>
          <span class="nav-link-text">Administrator Page</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseAdminPages">
          <li>
            <a class="nav-link" ui-sref="dashboard.addadmin">
              <i class="fa fa-fw fa-plus"></i>
              <span class="nav-link-text">Add a new Admin</span>
            </a>
          </li>
          <li>
            <a class="nav-link" ui-sref="dashboard.admins">
              <i class="fa fa-fw fa-eye"></i>
              <span class="nav-link-text">View Administrators</span>
            </a>
          </li>
        </ul>
      </li>
      <li ng-if="role == 'Administrator'" class="nav-item" data-toggle="tooltip" data-placement="right" title="Instructor Operations">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" data-target="#collapseInstructorPages" data-parent="#exampleAccordion">
          <i class="fa fa-fw fa-graduation-cap"></i>
          <span class="nav-link-text">Instructor Page</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseInstructorPages">
          <li>
            <a class="nav-link" ui-sref="dashboard.addinstructor">
              <i class="fa fa-fw fa-plus"></i>
              <span class="nav-link-text">Add a new Instructor</span>
            </a>
          </li>
          <li>
            <a class="nav-link" ui-sref="dashboard.instructors">
              <i class="fa fa-fw fa-eye"></i>
              <span class="nav-link-text">View Instructors</span>
            </a>
          </li>
        </ul>
      </li>
      <li ng-if="role == 'Administrator'" class="nav-item" data-toggle="tooltip" data-placement="right" title="Student Operations">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" data-target="#collapseStudentPages" data-parent="#exampleAccordion">
          <i class="fa fa-fw fa-users"></i>
          <span class="nav-link-text">Student Page</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseStudentPages">
          <li>
            <a class="nav-link" ui-sref="dashboard.addstudent">
              <i class="fa fa-fw fa-plus"></i>
              <span class="nav-link-text">Add a new Student</span>
            </a>
          </li>
          <li>
            <a class="nav-link" ui-sref="dashboard.students">
              <i class="fa fa-fw fa-eye"></i>
              <span class="nav-link-text">View Students</span>
            </a>
          </li>
        </ul>
      </li>
      <li ng-if="role == 'Administrator'" class="nav-item" data-toggle="tooltip" data-placement="right" title="Question Operations">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" data-target="#collapseQuestionPages" data-parent="#exampleAccordion">
          <i class="fa fa-fw fa-question-circle"></i>
          <span class="nav-link-text">Question Operations</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseQuestionPages">
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Course Operations">
            <a class="nav-link" ui-sref="dashboard.cateoperation">
              <i class="fa fa-fw fa-th-list"></i>
              <span class="nav-link-text">Category Operations</span>
            </a>
          </li>
          <li>
            <a class="nav-link" ui-sref="dashboard.quesoperation">
              <i class="fa fa-fw fa-question"></i>
              <span class="nav-link-text">Question Operations</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Course Operations">
        <a class="nav-link" ui-sref="dashboard.userprofile">
          <i class="fa fa-fw fa-address-book-o"></i>
          <span class="nav-link-text">User Profile</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="dashboard/profile">
        <i class="fa fa-fw fa-user"></i>{{name}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-click="dashCtrl.logout()">
        <i class="fa fa-fw fa-sign-out"></i>Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->

    <!--  all the view goes here -->
    <div ui-view>
    </div>
  </div>
</div>





