<!-- Update Form -->
<h1 ng-init="testCtrl.editTest()" class="h2 border-bottom text-center">Edit Test Details</h1>
<form ng-submit="testCtrl.submitEditedTest()" style="margin-top: 30px;">
	<div class="row align-items-center justify-content-center" ng-if="testCtrl.step[0]">
		<div class="col-md-6 ">
			<div class="card text-center ">
				<div class="card-header ">
					<b>Please Fill In The Details (Step 1/4)</b>
				</div>
				<div class="card-body">
					<div class="form-group">
						<div class="input-group">
							<input class="form-control" placeholder="Test Name" ng-model="testCtrl.testName" type="text"  autofocus required>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<input class="form-control" placeholder="Test Database" ng-model="testCtrl.db" type="text"  disabled>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<input class="form-control" placeholder="Area" ng-model="testCtrl.values.area" type="text"  disabled>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<input class="form-control" placeholder="Subject" ng-model="testCtrl.values.subject" type="text"  disabled>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<input class="form-control" placeholder="Course" ng-model="testCtrl.values.course" type="text"  disabled>
						</div>
					</div>
					<div class="form-group" ng-if="testCtrl.view_chapter_flag">
						<div class="input-group">
							<select class="form-control" ng-model="testCtrl.selectedChapters" multiple size="{{testCtrl.chapters.length + 1}}">
								<option value="" disabled>Select Chapters</option>
								<option ng-repeat="chapter in testCtrl.chapters | orderBy: chapter" ng-value="chapter">{{chapter}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-6 col-lg-6">
								<input type="button" class="btn btn-lg btn-primary btn-block" value="Next" ng-click="testCtrl.goNext(1)" required>
							</div>
							<div class="col-md-6 col-lg-6">
								<input type="button" class="btn btn-lg btn-primary btn-block" value="Cancel" ng-click="testCtrl.goList()" required>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row align-items-center justify-content-center" ng-if="testCtrl.step[1]">
		<div class="col-md-6 ">
			<div class="card text-center ">
				<div class="card-header ">
					<b>Please Fill In The Details (Step 2/4)</b>
				</div>
				<div class="card-body">
					<div class="form-group">
						<div class="input-group">
							<h2>Test Title: {{testCtrl.testName}}</h2>
						</div>
					</div>
					<div ng-repeat="chapter in testCtrl.cha_topics">
						<h2>{{chapter.name}}</h2>
						<div class="form-group">
							<div class="input-group">
								<select class="form-control" ng-model="testCtrl.selectedtopics[chapter.name]" multiple size="{{chapter.topics.length + 1}}">
									<option value="" disabled>Select Topics</option>
									<option ng-repeat="topic in chapter.topics | orderBy: topic" ng-value="topic">{{topic}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row" ng-if="testCtrl.selectedChapters">
						<div class="col-md-3">
							<input type="button" class="btn btn-lg btn-primary btn-block" value="Prev" ng-click="testCtrl.goNext(0)">
						</div>
						<div class="col-md-6">
						</div>
						<div class="col-md-3">
							<input type="button" class="btn btn-lg btn-primary btn-block" value="Next" ng-click="testCtrl.goNext(2)">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row align-items-center justify-content-center" ng-if="testCtrl.step[2]">
		<div class="col-md-6 ">
			<div class="card text-center ">
				<div class="card-header ">
					<b>Summary of Test Parameters (Step 3/4)</b>
				</div>
				<div class="card-body">
					<div class="form-group">
						<div class="input-group">
							<h5>Test Title: {{testCtrl.testName}}</h5>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<h5>You selected:</h5>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<h6>Area of study: {{testCtrl.selectedArea}}</h6>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<h6>Subject:		{{testCtrl.selectedSubject}}</h6>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<h6>Course:		 {{testCtrl.selectedCourse}}</h6>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<h6>Expired Date/Time:		 {{testCtrl.expired.toString()}}</h6>
						</div>
					</div>
					<div ng-repeat="chapter in testCtrl.selectedChapters">
						<h2>{{chapter}}</h2>
						<div class="form-group">
							<div class="input-group">
								<select class="form-control" multiple size="{{testCtrl.selectedtopics[chapter].length}}" style="overflow: hidden">
									<option ng-repeat="topic in testCtrl.selectedtopics[chapter]" ng-value="topic" disabled>{{topic}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row" ng-if="testCtrl.selectedChapters">
						<div class="col-md-3">
							<input type="button" class="btn btn-lg btn-primary btn-block" value="Prev" ng-click="testCtrl.goNext(1)">
						</div>
						<div class="col-md-5">
						</div>
						<div class="col-md-4">
							<input type="button" class="btn btn-lg btn-primary btn-block" value="Select Questions" ng-click="testCtrl.goNext(3)">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row align-items-center justify-content-center" ng-if="testCtrl.step[3]">
		<div class="col-md-10">
			<div class="card text-center" ng-repeat="(chapter, topics) in testCtrl.test_questions['chapters'] track by $index" ng-init="rowIndex = $index">
				<div class="card text-center" ng-repeat="(tp_title, items) in topics track by $index" ng-init="columnIndex = $index">
					<div class="card-header" ng-show="testCtrl.view_test[rowIndex][columnIndex]">
						<b>Select Questions for: {{chapter}} {{tp_title}} (Step 3/4)</b>
					</div>
					<div class="card text-center" ng-show="testCtrl.view_test[rowIndex][columnIndex]">
						<div class="card-body">
							<h3>Multiple Choice Questions</h3>
							<table class="table table-sm">
								<thead>
									<tr>
										<th scope="col">Type</th>
										<th scope="col">Difficulty</th>
										<th scope="col"># of questions</th>
										<th scope="col">Credit/Question</th>
										<th scope="col">Credit Subtotal</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="(tp_key, value) in items" ng-if="tp_key.split('-')[0] == 'MCQ'">
										<td><a>{{(tp_key.split('-')[1] == 'Comp') ? "Computational": "Short Answer"}}</a></th>
										<td><a>{{(tp_key.split('-')[2] == 'Med') ? "Medium": tp_key.split('-')[2]}}</a></td>
										<td>
											<a>
												<select ng-init="value.selectednum = 0" ng-model="value.selectednum" ng-options="num.value as num.text for num in value.list" ng-change="testCtrl.get_total_ques(items, $parent.$parent.$index, 0)">
												</select>
											</a>
										</td>
										<td>
											<a>
												<select ng-init="value.cr = testCtrl.range(0.25, 10, 0.25)[0]"ng-model="value.cr" ng-options="num for num in testCtrl.credit_questions" ng-change="testCtrl.get_total_credit(items, $parent.$parent.$index, 0)">
												</select>
											</a>
										</td>
										<td><a>{{value.selectednum * value.cr | number:2}}</a></td>
									</tr>
								</tbody>
							</table>
							<div class="row">
								<div class="col-md-6">
									Total multiple choice questions = {{testCtrl.total_ques[$index][0]}}
								</div>
								<div class="col-md-6">
									Total multiple choice questions credit = {{testCtrl.total_credit[$index][0] | number:2}}
								</div>
							</div>
						</div>
					</div>
					<div class="card text-center" ng-show="testCtrl.view_test[rowIndex][columnIndex]">
						<div class="card-body">
							<h3>True/False Questions</h3>
							<table class="table table-sm">
								<thead>
									<tr>
										<th scope="col">Type</th>
										<th scope="col">Difficulty</th>
										<th scope="col"># of questions</th>
										<th scope="col">Credit/Question</th>
										<th scope="col">Credit Subtotal</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="(tp_key, value) in items" ng-if="tp_key.split('-')[0] == 'TFQ'">
										<td><a>{{(tp_key.split('-')[1] == 'Comp') ? "Computational": "Short Answer"}}</a></th>
										<td><a>{{tp_key.split('-')[2]}}</a></td>
										<td>
											<a>
												<select ng-init="value.selectednum = 0" ng-model="value.selectednum" ng-options="num.value as num.text for num in value.list" ng-change="testCtrl.get_total_ques(items, $parent.$parent.$index, 1)">
												</select>
											</a>
										</td>
										<td>
											<a>
												<select ng-init="value.cr = testCtrl.range(0.25, 10, 0.25)[0]" ng-model="value.cr" ng-options="num for num in testCtrl.credit_questions" ng-change="testCtrl.get_total_credit(items, $parent.$parent.$index, 1)">
												</select>
											</a>
										</td>
										<td><a>{{value.selectednum * value.cr | number:2}}</a></td>
									</tr>
								</tbody>
							</table>
							<div class="row">
								<div class="col-md-6">
									Total True/False questions = {{testCtrl.total_ques[$index][1]}}
								</div>
								<div class="col-md-6">
									Total True/False questions credit = {{testCtrl.total_credit[$index][1] | number:2}}
								</div>
							</div>
						</div>
					</div>
					<div class="row" ng-show="testCtrl.view_test[rowIndex][columnIndex]" style="margin-top: 15px;margin-bottom: 15px">
						<div class="col-md-3">
							<input type="button" class="btn btn-lg btn-primary btn-block" value="Prev" ng-click="testCtrl.goPrevStep(rowIndex, columnIndex)">
						</div>
						<div class="col-md-6">
						</div>
						<div class="col-md-3">
							<input type="button" class="btn btn-lg btn-primary btn-block" value="Next" ng-click="testCtrl.editNextStep(rowIndex, columnIndex)">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<div class="modal fade" id="editTestModal" tabindex="-1" role="dialog" aria-labelledby="editTestModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Edit the test</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- Modal body -->
			<div class="modal-body">
				Do you want to edit the test with the updated parameters?
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Return</button>
				<button type="button" ng-click="testCtrl.gotoUpdate()" class="testsubmit btn btn-primary">Yes</button>
			</div>
		</div>
	</div>
</div>
