<!-- Navbar -->
<div class="bg-white ">
	<div class="container">
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 ">

			<h5 class="navbar-brand my-0 mr-md-auto font-weight-normal">ERUD8</h5>
			<nav class="my-2 my-md-0 mr-md-3">
				<a class="p-2 text-dark" href="/login/">Login</a>
			</nav>
			<a class="btn btn-outline-primary" href="/signup/">Sign up</a>
		</div>
	</div>
</div>


<!-- Banner -->

<section id="banner">
	<div class="container">
		<h2><strong>Test preparation and delivery made easy</strong></h2>
		<p>Simplify assessments, enhance academic integrity, and reduce instructor work burden.</p>
		<button type="button" class="btn btn-lg btn-success">Learn More</button>
	</div>
</section>
